.slideshow-container {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow-image.fade {
    opacity: 1;
  }
  